<p>Hi <%= @invitation.invitee.short_name %>,</p>
<p>I've got that Panga workshop invitation for you that we discussed. When you get a sec, <a href="<%= invitation_url(@invitation.token) %>">jump in a chat with me</a> and we can go over the details.</p>
<p>If you'd like me to forget your contact details, use the above link and then let me know.</p>
<p>thanks,</p>
<p>Yam Daisy</p>
