%table.table
  %thead
    %tr
      %th{scope: "col"} Name
  %tbody
    - @records.each do |record|
      %tr
        %td= record.name
        %td
          = show_link(record)
          = edit_link(record)
