%table.table
  %thead
    %tr
      %th{scope: "col"} Address name
      %th{scope: "col"} Name
      %th{scope: "col"} Actions
  %tbody
    - @records.each do |record|
      %tr
        %td
          = image_tag(record.picture.variant(:card), class: 'avatar small') if record.picture.attached?
          = record.address_name
        %td= record.name
        %td= edit_link(record)
