.chat-container {
  margin-top: 30vh;
  margin-bottom: 30vh;
  margin-left: auto;
  margin-right: auto;
  padding: 0 20px;
  max-width: 600px;
}

.message {
  .message-items {
    display: flex;
    flex-direction: column;
    gap: 30px;
  }

  .message-item {
    display: flex;
    flex-direction: row;
    gap: 15px;

    .prompt {
      font-size: 13pt;
      font-weight: 600;
      color: #ccc;
      white-space: pre-line;

      .robot-effect {
        font-family: "Courier New", Courier, monospace;
      }

      .sms-effect {
        border: 1px solid #ccc;
        border-radius: 10px;
        padding: 16px;
        font-weight: 600;
      }

      .sms-typing-indicator {
        font-family: "Courier New", Courier, monospace;
        padding: 16px;
        font-weight: 600;
      }
    }

    &.avatar-right {
      flex-direction: row-reverse;
    }
  }

  .responder {
    margin-top: 30px;
  }

  .button-group {
    display: flex;
    flex-direction: row;
    gap: 10px;
    flex-wrap: wrap;
  }
}

#invitation {
  padding-top: 4em;
}

.typing-indicator {
  &.invisible {
    display: none;
  }
}
