.chat-container {
  margin-top: 30vh;
  margin-left: auto;
  margin-right: auto;
  padding: 0 20px;
  max-width: 600px;
}

.message {
  .message-item {
    display: flex;
    flex-direction: row;
    gap: 15px;

    .prompt {
      font-family: "Courier New", Courier, monospace;
      font-size: 13pt;
      font-weight: 600;
      color: #ccc;
      white-space: pre-line;
    }
  }

  .responder {
    margin-top: 30px;
  }

  .select-option-responder {
    display: flex;
    flex-direction: row;
    gap: 10px;
  }
}

#invitation {
  padding-top: 4em;
}
