<h1>Panga</h1>
<p>Supporting experimental approaches to collectively meeting our daily needs of shelter, food, energy, transport, care, and safety.</p>
<p>We want something better than the individualist isolation, brutal unfairness and impending ecological collapse of late-stage capitalism, and we don’t want to wait for top-down change to provide it for us.</p>
<p>Sprouting from the cracks in late stage capitalism, Panga supports explorations of potential better futures - trying them out now to build better lives for ourselves, and helping develop models useful to others. It’s not a singular utopia, it’s a way of collaborating just enough to support multiple autonomous experiments and to connect with all the great projects that already exist.</p>