@import "./forms";

.admin {
  &.index {
    .group-actions {
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
    }

    th.avatar {
      width: 30px;
    }
  }

  .avatar {
    width: 65px;
    height: 65px;
    border-radius: 50%;

    &.small {
      width: 30px;
      height: 30px;
    }
  }
}
