%table.table
  %thead
    %tr
      %th{scope: "col"} Inviter
      %th{scope: "col"} Invitee
      %th{scope: "col"} Token
      %th{scope: "col"} Actions
  %tbody
    - @records.each do |record|
      %tr
        %td= record.inviter.short_name
        %td= record.invitee.short_name
        %td= record.token
        %td
          -# = edit_link(record)
