%table.table
  %thead
    %tr
      %th{scope: "col"} Short name
      %th{scope: "col"} Full name
      %th{scope: "col"} Actions
  %tbody
    - @records.each do |record|
      %tr
        %td= record.short_name
        %td= record.full_name
        %td
          = edit_link(record)
