%table.table
  %thead
    %tr
      %th{scope: "col"} Email
      %th{scope: "col"} Actions
  %tbody
    - @records.each do |user|
      %tr
        %td= user.email
        %td
          = link_to "edit", edit_admin_user_path(user)
