%table.table
  %thead
    %tr
      %th{scope: "col"} Person
      %th{scope: "col"} Email
      %th{scope: "col"} Actions
  %tbody
    - @records.each do |record|
      %tr
        %td= record.person
        %td= record.email
        %td
          = edit_link(record)
