<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><%= link_to "Admin_users", admin_users_path %></li>
    <li class="breadcrumb-item"><%= link_to @admin_user.id, @admin_user %></li>
    <li class="breadcrumb-item active" aria-current="page">Edit</li>
  </ol>
</nav>
<%= render 'form', admin_user: @admin_user %>
