<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><%= link_to "Admin_users", admin_users_path %></li>
    <li class="breadcrumb-item active mr-auto" aria-current="page"><%= @admin_user.id %></li> 
  </ol>
</nav>
<div class="card">
  <h5 class="card-header">Admin_user</h5>
  <ul class="list-group list-group-flush">
  </ul>
</div>
