%nav{"aria-label" => "breadcrumb"}
  %ol.breadcrumb
    %li.breadcrumb-item= link_to "users", admin_users_path
    %li.breadcrumb-item.active.mr-auto{"aria-current" => "page"}= @user.id
.card
  %h5.card-header user
  %ul.list-group.list-group-flush
